

// Font-Families

$fontStyle: 'Caveat', cursive;

$fontCasual: 'Rajdhani', sans-serif;

//Extra radios

$br: 0.3em;
$border1: 1px solid #dbdbdb;
$transition:(0.2s,0.4s,0.6s,0.8s);

//Color theme

$white1: #ffffff;
$backgroundWhite: #fafafa;
$red: #e41619;
$blue: #35abec;
$green: #89d81b;



$fontcolor1 : #333333;
$fontcolor2 : #f05356;
$fontcolor3 : #7c7578;
$fontcolor4 : #ffffff;

$transparentWhite: #fafafad0;


/*Margin*/

$m1 : 1rem;
$m2 : 2rem;
$m3 : 3rem;
$m4 : 4rem;
$m5 : 5rem;
$m6 : 6rem;
$m7 : 7rem;
$m8 : 8rem;
$m9 : 9rem;
$m10 : 10rem;

/*Padding*/

$p1 : 1rem;
$p2 : 2rem;
$p3 : 3rem;
$p4 : 4rem;
$p5 : 5rem;
$p6 : 6rem;
$p7 : 7rem;
$p8 : 8rem;
$p9 : 9rem;
$p10 : 10rem;

/* Image */

