.headerComponent {
    box-sizing: border-box;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.034));
    .navbar{
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        .link{
            display: block;
            text-decoration: none;
            color: inherit;
            p{
                font-weight: bold;
            }
        }
        .filter{
            cursor: pointer;
        }
    }
    .message{
        color: $red;
    }
    .sequenceContainer{
        position: absolute;
        height: 10rem;
        width: 20rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $backgroundWhite;
        top: 4rem;
        border-radius: $br;
        border: $border1;
        .sequence{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            h4{
                margin: 0;
                padding: 0;
                color: $fontcolor3;
            }
            input{
                width: 3rem;
                padding: 12px 20px;
                display: inline-block;
                border-radius: $br;
                border: 1px solid #ccc;
                background-color: $backgroundWhite;
            }
        }
        .buttonFilter{
            width: 70%;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                color: $white1;
                font-weight: bold;
            }
        }
    }
}